.ff-primary {
	font-family: var(--ff-primary);
}

.fw-extralight {
	font-weight: var(--fw-extralight);
}


.fw-regular {
	font-weight: var(--fw-regular);
}

.fw-semibold {
	font-weight: var(--fw-semibold);
}

.fw-bold {
	font-weight: var(--fw-bold);
}

.fs-100 {
	font-size: var(--fs-100);
}
.fs-200 {
	font-size: var(--fs-200);
}
.fs-300 {
	font-size: var(--fs-300);
}
.fs-400 {
	font-size: var(--fs-400);
}
.fs-500 {
	font-size: var(--fs-500);
}
.fs-600 {
	font-size: var(--fs-600);
}
.fs-700 {
	font-size: var(--fs-700);
}

.fs-800 {
	font-size: var(--fs-800);
}

.fls-100 {
	letter-spacing: normal;
}

.fls-200 {
	letter-spacing: 0.2rem;
}

.bg-clr-accent-000 {
	background-color: var(--clr-accent-000);
}

.bg-clr-accent-100 {
	background-color: var(--clr-accent-100);
}
.bg-clr-accent-900 {
	background-color: var(--clr-accent-900);
}

.bg-clr-button {
	background-color: var(--clr-button);
}
.bg-clr-button-hover {
	background-color: var(--clr-button-hover);
}

.clr-text-100 {
	color: var(--clr-text-100)
}
.clr-text-200 {
	color: var(--clr-text-200);
}
.clr-text-300 {
	color: var(--clr-text-300);
}
.clr-text-400 {
	color: var(--clr-text-400);
}
